html {
    font-size: 62.5%;
}

body {
    max-width: 1440px;
    background-color: hsl(236, 46%, 12%);
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    background-color: beige;
    box-sizing: border-box;
    max-width: 840px;
    grid-template-columns: repeat(4, minmax(100px, 200px));
    grid-gap: 5px;
    margin: 0 auto;
    grid-template-areas:
        "user work play study"
        "periodo exerc social self";
}

.user {
    grid-area: user;
    box-sizing: border-box;
    max-width: 200px;
    background-color: hsl(246, 80%, 60%);
    border-radius: 10px;
}

.user>img {
    max-width: 100px;
    margin: 20px;
}

.user>h2 {
    margin-left: 20px;
}

.user>h1 {
    margin-left: 20px;
    margin-top: 1px;
}

.work {
    grid-area: work;
    display: grid;
    grid-template-rows: 60px 160px;
    background-color: hsl(15, 100%, 70%);
    border-radius: 10px;
    grid-gap: 1px;
    margin: 10px;
}

.work>div {
    background-color: hsl(246deg 87% 17%);
    margin: -12px 0 0 0;
    color: white;
    padding-left: 20px;
    border-radius: 10px 10px 10px 10px;
}

.work>img {
    justify-self: end;
}

.play {
    grid-area: play;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.study {
    grid-area: study;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.exercise {
    grid-area: exerc;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.social {
    grid-area: social;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.self {
    grid-area: self;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.periodo {
    display: inline-grid;
    grid-template-rows: 30px 30px 30px;
    font-size: 20px;
    align-content: center;
    justify-content: center;
}